.h3 {
    color:   #254fb3  !important
}
.h3::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #254fb3;
    transition: width .3s;
}

.h3:hover::after {
    width: 21%;
    //transition: width .3s;
}