<p-card> 
    <p-table [value]="users" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Address</th> 
                <th>Action</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr  [pSelectableRow]="users">
                <td>{{users.order}}</td>
                <td>{{users.first}}</td>
                <td>{{users.last}}</td>
                <td>{{users.email}}</td>
                <td>{{users.address}}</td> 
                <td> 
                    <button pButton (click)="addRowData(users)" pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
                </td> 
            </tr>
        </ng-template>
    </p-table>

</p-card>